@use "./variables" as *;

//animation for hovering over the navigation link w/o a bottom border
@keyframes nav-hover {
  from {
    border-bottom: 4px solid $bandsite-black;
  }
  to {
    border-bottom: 4px solid $white;
  }
}

//animation for hovering over photos
@keyframes photo-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
