@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@-webkit-keyframes nav-hover {
  from {
    border-bottom: 2px solid #323232;
  }
  to {
    border-bottom: 2px solid #ffffff;
  }
}
@keyframes nav-hover {
  from {
    border-bottom: 2px solid #323232;
  }
  to {
    border-bottom: 2px solid #ffffff;
  }
}
@-webkit-keyframes photo-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
@keyframes photo-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Avenir Next Demi";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h1 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "Avenir Next Demi";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h2 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h3 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.25rem 0;
  }
}

ul {
  list-style-type: none;
  padding-top: 1rem;
  padding-left: 0;
}

li {
  padding: 1rem 0;
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.italic {
  font-style: italic;
  letter-spacing: 0.2rem;
}

.nav {
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.nav--responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav--responsive {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav--responsive {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.nav__logo, .footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.nav__links {
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .nav__links {
    justify-content: center;
    gap: 3.5rem;
    margin-left: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__links {
    width: 20%;
    margin-left: 2rem;
  }
}
.nav__url {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 1280px) {
  .nav__url {
    width: auto;
  }
}
.nav__link {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #323232;
}
.nav__link:hover {
  color: #ffffff;
  -webkit-animation: nav-hover 1s;
          animation: nav-hover 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-weight: bold;
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 1rem;
    width: auto;
    padding: 1.75rem 0;
  }
}
.nav__link--selected {
  border-bottom: 2px solid #fafafa;
  font-weight: bold;
}
.nav__link--unselected {
  color: #e1e1e1;
}

footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  footer p {
    line-height: 1.25rem;
  }
}

.footer--responsive {
  position: relative;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer--responsive {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer--responsive {
    width: 63.75rem;
    margin: 0 auto;
    padding-top: 2.25rem;
  }
}

.footer__logo {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 1.5rem;
    right: 0;
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 3.75rem;
  }
}

.social {
  width: 50%;
}
@media (min-width: 768px) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .social {
    width: 52%;
  }
}
@media (min-width: 1280px) {
  .social {
    width: 38%;
  }
}
.social__header {
  width: 100%;
}
.social__icons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .social__icons {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .social__icon__img {
    width: 150%;
  }
}

.contact {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .contact {
    width: 70%;
  }
}
.contact__card {
  padding: 0;
}
.contact__name {
  padding-bottom: 0;
  font-family: "Avenir Next Demi";
}
@media (min-width: 768px) {
  .contact__name {
    padding-top: 0;
  }
}
.contact__assoc {
  font-family: "Avenir Next Demi";
}
.contact__assoc, .contact__other, .contact__email {
  padding-top: 0;
}
.contact__email a {
  text-decoration: none;
  color: inherit;
}

.copyright__details {
  padding-top: 0.5rem;
  font-size: 0.6875rem;
}
@media (min-width: 768px) {
  .copyright__details {
    font-size: 0.9rem;
  }
}

.hero {
  background: url(../../assets/images/hero-bio.jpg);
  position: relative;
  height: 60vw;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    background-size: 105vw;
    background-position-x: center;
    background-position-y: bottom;
    height: 62.5vw;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .hero {
    background-size: cover;
    background-position: center -5rem;
    height: 46vw;
  }
}
.hero__overlay {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.hero__title {
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    margin-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    width: 63.75rem;
    margin: 0 auto;
  }
}

.about {
  background-color: #ffffff;
  color: #323232;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .about {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .about__subsection {
    margin: 0 3.75rem;
  }
}
@media (min-width: 1280px) {
  .about__subsection {
    margin: 0 5.5rem;
  }
}
.about__title {
  padding-top: 3.5rem;
}
.about__image {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 55vw;
}
@media (min-width: 768px) {
  .about__image {
    height: 40vw;
  }
}
.about__quote {
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about__quote {
    padding-bottom: 1rem;
    width: 106.4%;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    width: 86%;
  }
}
.about__speaker {
  padding: 0;
}
@media (min-width: 768px) {
  .about__speaker {
    font-size: 0.875rem;
  }
}
.about__article {
  padding-right: 0.25rem;
}
@media (min-width: 768px) {
  .about__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about__article__header {
  padding-bottom: 1.5rem;
}
.about__article__paragraph, .about__article__paragraph2 {
  padding-top: 0;
}
@media (min-width: 768px) {
  .about__article__paragraph, .about__article__paragraph2 {
    width: 49%;
  }
}
.about__article__paragraph2 {
  width: 98%;
}
@media (min-width: 768px) {
  .about__article__paragraph2 {
    width: 49%;
  }
}

.gallery {
  background-color: #fafafa;
  color: #323232;
}
.gallery > * {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .gallery > * {
    margin: 0 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery > * {
    width: 63.75rem;
    margin: 0 auto;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .gallery__photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .gallery__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
}
.gallery__photo {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  padding: 0.5rem 0;
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 31%;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    width: 32%;
  }
}
.gallery__photo:hover {
  -webkit-animation: photo-hover 1s;
          animation: photo-hover 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}/*# sourceMappingURL=bio.css.map */