@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/animations" as *;
// hero section styling
.hero {
  background: url(../assets/images/hero-shows.jpg);
  position: relative;
  height: 80vw;
  background-size: cover;
  background-position: left;

  //update hero image positioning and size for tablet
  @include tablet {
    background-size: cover;
    background-position: center;
    height: 70vw;

    //update hero image positioning and size for desktop
    @include desktop {
      background-size: cover;
      background-position: center -8rem;
      height: 50vw;
    }
  }

  //overlay to darken hero image
  &__overlay {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  //styling div that allows margins to be added w/o affecting hero image or shading
  &__styling {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(column, center);
    color: $white;
    align-items: flex-start;
    @include tablet {
      @include flex(column, flex-end);
    }
    @include desktop {
      @include flex(row, space-between);
      align-items: center;
      width: 63.75rem;
      margin: 0 auto;
    }
  }

  //div to line up subtitle and title
  &__titles {
    @include desktop {
      width: 48%;
      margin-bottom: 2rem;
    }
  }

  //subtitle styling
  &__subtitle {
    margin-left: 1rem;
    margin-top: 2rem;
    padding: 0;
    @include tablet {
      margin-left: 2.25rem;
      margin-top: 0;
    }
    @include desktop {
      margin-left: 0;
    }
  }

  //title styling
  &__title {
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 65%;
    padding: 0;
    @include tablet {
      margin-left: 2.25rem;
      width: 70%;
    }
    @include desktop {
      width: 100%;
      margin-left: 0rem;
      margin-top: 1.5rem;
    }
  }

  //SoundCloud iframe styling
  &__sample {
    width: 89%;
    height: 30vw;
    margin: 1rem;
    border-radius: 5px;
    @include tablet {
      margin-left: 2.25rem;
      width: 50vw;
      height: 20vw;
      margin-top: 2.5rem;
      margin-bottom: 5rem;
    }
    @include desktop {
      width: 30vw;
      height: 11vw;
      // margin: auto 0;
      max-width: 50%;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
.shows {
  //styling for margins, allows dividers to run across page in mobile
  &__styling {
    @include tablet {
      margin: 1rem;
    }
    @include desktop {
      @include flex(row, space-between);
      width: 63.75rem;
      margin: 0 auto;
    }
  }

  //styling for Shows header
  &__title {
    margin-left: 1rem;
    @include tablet {
      margin-left: 1.25rem;
    }
  }

  //styling for shows list
  &__list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2.25rem;
    }
    @include desktop {
      width: 80%;
      margin-top: 3rem;
    }
  }

  //styling for table headers, removes headers for mobile view
  &__label {
    font-size: 0.8rem;
    color: $mercury;
    padding-bottom: 0.5rem;
    text-align: left;
    font-family: "Avenir Next Regular";
    display: none;
    @include tablet {
      display: table-cell;
      padding-left: 1.25rem;
    }
    @include desktop {
      padding-bottom: 1rem;
    }
  }
  //styling for rows
  &__single {
    padding: 1rem;
    border-bottom: 1px solid $mercury;
    @include flex(column, center);
    @include tablet {
      display: table-row;
      padding: 1.5rem 1.125rem;
    }
    &:hover {
      background: $alabaster;
    }
    &--selected {
      background-color: $mercury !important;
    }
  }

  //set flex for date, venue, location, and their :before pseudoselectors
  &__date,
  &__venue,
  &__location {
    @include flex(column, center);
    margin: 1rem 0;
    @include tablet {
      display: table-cell;
      padding: 1.25rem;
    }
    &:before {
      margin-bottom: 0.5rem;
      font-family: "Avenir Next Demi";
      font-size: 0.8rem;
      color: $silver;
      @include tablet {
        display: none;
      }
    }
  }

  //change font for date, venue, and location
  &__date {
    font-family: "Avenir Next Demi";
    &:before {
      content: "DATE";
    }
  }

  &__venue:before {
    content: "VENUE";
  }

  &__location:before {
    content: "LOCATION";
  }
  &__venue,
  &__location {
    font-family: "Avenir Next Regular";
    font-weight: lighter;
  }

  //styling for button table cell
  &__button {
    @include tablet {
      text-align: right;
    }
    @include desktop {
      padding-right: 1rem;
    }
  }

  //styling for button itself
  &__btn {
    @include dark-section;
    font-family: "Avenir Next Regular";
    border-radius: 4px;
    padding: auto 1rem;
    width: 100%;
    height: 2.5rem;

    @include tablet {
      min-width: 9.375rem;
      height: 3rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-family: "Avenir Next Demi";
      font-size: 1rem;
    }
    &:hover {
      background-color: $bandsite-darkblack;
    }
  }
}
