@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
@-webkit-keyframes nav-hover {
  from {
    border-bottom: 4px solid #323232;
  }
  to {
    border-bottom: 4px solid #ffffff;
  }
}
@keyframes nav-hover {
  from {
    border-bottom: 4px solid #323232;
  }
  to {
    border-bottom: 4px solid #ffffff;
  }
}
@-webkit-keyframes photo-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
@keyframes photo-hover {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Avenir Next Demi";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h1 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "Avenir Next Demi";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h2 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h3 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 2.25rem 0;
  }
}

ul {
  list-style-type: none;
  padding-top: 1rem;
  padding-left: 0;
}

li {
  padding: 1rem 0;
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.italic {
  font-style: italic;
  letter-spacing: 0.2rem;
}

.nav {
  background-color: #323232;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.nav--responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav--responsive {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav--responsive {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.nav__logo, .footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.nav__links {
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .nav__links {
    justify-content: center;
    gap: 3.5rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .nav__links {
    width: 20%;
    margin-left: 2rem;
  }
}
.nav__url {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 1280px) {
  .nav__url {
    width: auto;
  }
}
.nav__link {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid #323232;
}
.nav__link:hover {
  color: #ffffff;
  -webkit-animation: nav-hover 1s;
          animation: nav-hover 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-weight: bold;
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 1rem;
    width: auto;
    padding: 1.75rem 0;
  }
}
.nav__link--selected {
  border-bottom: 4px solid #fafafa;
  font-weight: bold;
}
.nav__link--unselected {
  color: #e1e1e1;
}
.nav__hidden {
  height: 7.3125rem;
}
@media (min-width: 768px) {
  .nav__hidden {
    height: 4.875rem;
  }
}

footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  footer p {
    line-height: 1.25rem;
  }
}

.footer--responsive {
  position: relative;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer--responsive {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer--responsive {
    width: 63.75rem;
    margin: 0 auto;
    padding-top: 2.25rem;
  }
}

.footer__logo {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 1.5rem;
    right: 0;
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 3.75rem;
  }
}

.footer__social {
  width: 50%;
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 52%;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    width: 40%;
  }
}
.footer__social-header {
  width: 100%;
}
.footer__social-icons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__social-icons {
    width: 50%;
    margin-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__social-icons {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .footer__social-img {
    width: 120%;
  }
}
@media (min-width: 1280px) {
  .footer__social-img {
    width: 150%;
  }
}

.footer__contact {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 98%;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    width: 75%;
  }
}
.footer__contact-card {
  padding: 0;
}
.footer__contact-name {
  padding-bottom: 0;
  font-family: "Avenir Next Demi";
}
@media (min-width: 768px) {
  .footer__contact-name {
    padding-top: 0;
  }
}
.footer__contact-assoc {
  font-family: "Avenir Next Demi";
}
.footer__contact-assoc, .footer__contact-other, .footer__contact-email {
  padding-top: 0;
}
@media (min-width: 768px) {
  .footer__contact-assoc, .footer__contact-other, .footer__contact-email {
    padding-bottom: 2rem;
  }
}
.footer__contact-email__mailto {
  text-decoration: none;
  color: inherit;
}

.footer__copyright-details {
  padding-top: 0.5rem;
  font-size: 0.6875rem;
}
@media (min-width: 768px) {
  .footer__copyright-details {
    font-size: 0.9rem;
  }
}

.hero {
  background: url(../assets/images/hero-shows.jpg);
  position: relative;
  height: 80vw;
  background-size: cover;
  background-position: left;
}
@media (min-width: 768px) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 70vw;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .hero {
    background-size: cover;
    background-position: center -4rem;
    height: 50vw;
  }
}
.hero__overlay {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero__styling {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: flex-start;
}
@media (min-width: 1280px) {
  .hero__styling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .hero__titles {
    width: 48%;
  }
}
.hero__subtitle {
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 0;
}
@media (min-width: 768px) {
  .hero__subtitle {
    margin-left: 2.25rem;
    margin-top: 0;
  }
}
.hero__title {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 65%;
  padding: 0;
}
@media (min-width: 768px) {
  .hero__title {
    margin-left: 2.25rem;
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    width: 100%;
  }
}
.hero__sample {
  width: 89%;
  height: 30vw;
  margin: 1rem;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .hero__sample {
    margin-left: 2.25rem;
    width: 50vw;
    height: 20vw;
  }
}
@media (min-width: 1280px) {
  .hero__sample {
    width: 30vw;
    height: 10vw;
    margin: auto 0;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .shows__styling {
    margin: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__styling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 63.75rem;
    margin: 0 auto;
  }
}
.shows__title {
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .shows__title {
    margin-left: 1.25rem;
  }
}
.shows__list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows__list {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__list {
    width: 80%;
    margin-top: 3rem;
  }
}
.shows__label {
  font-size: 0.8rem;
  color: #e1e1e1;
  padding-bottom: 0.5rem;
  text-align: left;
  font-family: "Avenir Next Regular";
  display: none;
}
@media (min-width: 768px) {
  .shows__label {
    display: table-cell;
    padding-left: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__label {
    padding-bottom: 1rem;
  }
}
.shows__single {
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .shows__single {
    display: table-row;
    padding: 1.5rem 1.125rem;
  }
}
.shows__single:hover {
  background: #fafafa;
}
.shows__single--selected {
  background-color: #e1e1e1 !important;
}
.shows__date, .shows__venue, .shows__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .shows__date, .shows__venue, .shows__location {
    display: table-cell;
    padding: 1.25rem;
  }
}
.shows__date:before, .shows__venue:before, .shows__location:before {
  margin-bottom: 0.5rem;
  font-family: "Avenir Next Demi";
  font-size: 0.8rem;
  color: #afafaf;
}
@media (min-width: 768px) {
  .shows__date:before, .shows__venue:before, .shows__location:before {
    display: none;
  }
}
.shows__date {
  font-family: "Avenir Next Demi";
}
.shows__date:before {
  content: "DATE";
}
.shows__venue:before {
  content: "VENUE";
}
.shows__location:before {
  content: "LOCATION";
}
.shows__venue, .shows__location {
  font-family: "Avenir Next Regular";
  font-weight: lighter;
}
@media (min-width: 768px) {
  .shows__button {
    text-align: right;
  }
}
.shows__btn {
  background-color: #323232;
  color: #ffffff;
  font-family: "Avenir Next Regular";
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  height: 2.5rem;
}
@media (min-width: 768px) {
  .shows__btn {
    min-width: 9.375rem;
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.shows__btn:hover {
  background-color: #000000;
}/*# sourceMappingURL=shows.css.map */